.blog-container {
  margin: 1em auto;
  padding: 1em;
  width: 700px;
  border: 1px solid black;
}

.blog-heading {
  text-align: center;
  font-size: 2.2em;
  text-transform: capitalize;
}

.blog-body {
  font-size: 1.2em;
}

.blog-form {
  text-align: center;
}
